set colored-stats on
set colored-completion-prefix on
set completion-ignore-case on
set completion-map-case on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set menu-complete-display-prefix on
"\t":menu-complete
"\e[Z": menu-complete-backward

#VI MODE SPECIFIC SETTINGS
set editing-mode vi
set show-mode-in-prompt
# SET THE MODE STRING AND CURSOR TO INDICATE THE VIM MODE
#   FOR THE NUMBER AFTER `\e[`:
#     0: blinking block
#     1: blinking block (default)
#     2: steady block
#     3: blinking underline
#     4: steady underline
#     5: blinking bar (xterm)
#     6: steady bar (xterm)
#     I.e. set vi-ins-mode-string (ins) \1\e[5 q\2

set vi-ins-mode-string \x1b[30m\x1b[46m $ \e[49m\x1b[36m\x1b[30m 
set vi-cmd-mode-string \x1b[30m\x1b[42m $ \e[49m\x1b[32m\x1b[30m 


$if mode=vi
    #set keymap vi-command
    "\C-l": clear-screen
$endif
